<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyFirstWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7779/ws/first" binding="basicHttpBinding"
                bindingConfiguration="MyFirstWSPortBinding" contract="ServiceReference1.MyFirstSOAPInterface"
                name="MyFirstWSPort" />
        </client>
    </system.serviceModel>
</configuration>